@for(product of addedPurchaseList; track product.id){
  <mat-list >
    <div class="mb-2 d-flex flex-column align-items-center justify-content-center text-align-center w-100">
      <div class="d-flex ">
        <mat-list-item>{{product.nome}} {{product.marca}}  {{product.medida}}</mat-list-item>
        <span mat-button color="primary" class="text-align-end spnClose" (click)="RemoveProductCopies(product)" ><mat-icon>close</mat-icon> </span>
      </div>
      <div>
        <button mat-button color="warn" (click)="decrementTotalProductCopies(product)">-</button>
        <span class="mx-3">{{product.totalAdicionadoAoCart}}</span>
        <button mat-button color="primary" (click)="IncrementTotalProductCopies(product)" >+</button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
} @empty {
  <div style="width: 15rem">
  <mat-list-item>Empty Cart</mat-list-item>
  </div>
}