footer h6{
    font-size: x-large;
}
.store{
    width: 120px;
    margin-top: 5px;
}
footer section a{
    color: #fff;
    text-decoration: none;
}
.rodape{
    text-align: center;
    border-top: 1px dotted #fff;
    padding-top: 5px;
}
.rodape span{
    font-family: cursive;
}