<footer class="bg-dark text-light p-5 mt-3">
    <div class="d-flex justify-content-between">
        <a href="" class="ms-5 ps-1 text-light">Veja Nosso Folheto</a>
        <span class="d-flex gap-2 pe-5 align-items-center">
            <label for="">Receba ofertas no seu email:</label>
            <input type="text" name="" id="">
            <button>Receba</button>
        </span>
    </div>
    <section class="d-flex justify-content-between m-5">
        <div class="d-flex flex-column gap-2">
            <h6 >Saiba Mais</h6>
            <a href="">Institucional</a>
            <a href="">Trabalhe conosco</a>
            <span class="d-flex flex-column">
                <img src="../../../assets/images/playstore.png" alt="" class="store">
                <img src="../../../assets/images/appstore.png" alt="" class="store">
            </span>
        </div>
        <div class="d-flex flex-column gap-3">
            <h6>Atendimento</h6>
            <span><i class="bi bi-telephone me-3"></i>31986452459</span>
            <span><i class="bi bi-whatsapp me-3"></i>{{telefone}}</span>
            <span>{{email}}</span>
        </div>
        <div class="d-flex flex-column gap-3 w-25">
            <h6>Cartão Super</h6>
            <span>Parcele suas compras em até 24x</span>
            <span class="d-flex gap-3">
                <a href="">Peça já o seu</a>
                <img src="../../../assets/images/Supercard.png" alt="" class="w-50">
            </span>
        </div>
    </section>
    <div class="rodape">
        Desenvolvido por: <span>Deividson Coelho</span>
    </div>
</footer>
