.redesSociais{
    color: #fff !important;
    display: flex;
    gap: 15%;
    zoom: 1.2;
    z-index: 10;
}
.logo{
    scale: 2.8;
    margin-top: 5px;
    margin-right: 40px;
}
.LogoText{
    position: relative;
    top: 20px;
    right: 30px;
    color: rgba(18, 255, 255, 0.699);
    font-family: cursive;
}

mat-toolbar{
    display: grid;
    grid-template-areas: 
    "left center right"
    "left center right";
    grid-template-columns: 2fr 2fr 1fr;
    padding: 0 5%;
}
.left{
    grid-area: left;
}
.cemter{
    grid-area: center;
}
.right{
    grid-area: right;
}
.spnPesquisa{
    margin-left: -250px;
}