<nav class="navbar bg-dark border-body text-light pt-3 px-5" data-bs-theme="dark">
    <span class="redesSociais">
        <a href=""><i class="bi bi-instagram text-light"></i></a>
        <a href=""><i class="bi bi-youtube text-light" ></i></a>
        <a href=""><i class="bi bi-linkedin text-light"></i></a>
      </span>
      <span  class="">
          <a href="#" class="text-light fs-6 text-decoration-none ms-5 ps-5">Conheça Nossa Historia</a>
      </span>
      <span class="">
            <label>Cidade: &nbsp;</label>
            <i class="bi bi-geo-alt-fill"></i>
          <select name="loja" id="">
              <option value="bc"> Barão de Cocais</option>
              <option value="bh">Belo Horizonte</option>
            </select>
        </span>
  </nav>
    <nav class="navbar bg-dark border-bottom border-body text-light px-5" data-bs-theme="dark">
        <div>
            <mat-toolbar class="bg-dark">
                <a href=""><img src="../../../assets/images/super.png" alt="" width="50px" class="logo"> </a><span class="LogoText">Supermercados</span>
            </mat-toolbar>
        </div>
        <span class="spnPesquisa">
            <input type="search" name="pesquisa" id="" placeholder="Pesquise o produto" >
            <button><i class="bi bi-search"></i></button>
        </span>
            <span  class="">
                <i class="bi bi-person-fill"></i><span>Entre Ou Cadastre-se</span>
            </span>
    </nav>


