<h1>Teste</h1>
<section class="d-flex flex-row flex-wrap justify-content-center align-items-center modal">
    @if(produto){
        <span class="card " style="width: 18rem; zoom: 1;">
            <img src="../../../assets/images/produtos/{{produto.imagem}}" class="card-img-top" alt="...">
            <div class="card-body m-auto text-center">
                <div class="d-flex row">
                    <h2 class="card-title fs-3">{{produto.nome}}
                    <span class="card-subtitle mb-2 fs-3">{{produto.marca}}</span></h2>
                </div>
                <p class="card-text fs-2">{{produto.medida}}</p>
                <p class="card-text">{{produto.descricao}}</p>
                <div class="card-body m-auto text-center fs-3"> {{(produto.preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</div>
                <div class="d-flex flex-row w-100 justify-content-center">
                    <span class="btn">+</span>
                    <input type="number" name="quantidade" value="1" id="" class="w-25">
                    <span class="btn">-</span>
                </div>
                <a href="#" class="card-link" (click)="FecharModal()">Cancelar</a>
                <a href="#" class="card-link"  (click)="addToShoppingCart()">Adicionar ao Carrinho</a>
             </div>
        </span>
    }
</section>

