.divCategoria{
    flex-wrap: wrap;
}
@media screen and (max-width: 700px){
    .divCategoria{
        zoom: .7;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px){
    .divCategoria{
        zoom: .5;
    }
}