
.scrollable-container, .novos-container, .novos-containerSearch {
    overflow: hidden;
    position: relative;
    border: none;
  }
  
  .scrollable-content, .novos-content, .novos-contentSearch {
    display: flex;
    width: max-content;
    overflow-x: auto;
    scroll-behavior: smooth;
    border: none;

  }
   